<div >
    <table class="table table-responsive">
        <tbody>
          <tr>
            <td>E-Mail: </td>
            <td> <input class="input" type="text" size=10 placeholder="email"> </td>
          </tr>
          <tr>
            <td>Password: </td>
            <td> <input class="input" type="text" size=10 placeholder="Password"></td>
          </tr>
          <tr>
            <td>Re-Password: </td>
            <td> <input class="input" type="text" size=10 placeholder="Password"></td>
          </tr>
          <tr>
            <td></td>
            <td> captcha goes here</td>
          </tr>
          <tr>
            <td>  <button class="button" type="submit">Submit</button></td>
          </tr>
        </tbody>
      </table>
</div>